<h1>CORPORATE WANK</h1>
<h2>A handy glossary for new players</h2>

<div class = "nav"><%= link_to "Add Term", new_word_path, :class => 'button' %></div>

<table class="main">
	<% @words.each do |word| %>
	<tr>
			<td class="record" id="flag-etc">
				<%= link_to image_tag("thumb-white.png"), "/words/vote_up/"+word.id.to_s, :class => "tooltip", :title => "VOTE UP!" %>
			</td>
			
			
			<td id = "votes" class="record"><%= word.vote %></td>
			<td class ="record">
				<ul class = "term-def-pair">
					<li id = "term"><%=word.term  %></li>
					<li id = "definition"><%=word.def  %></li>
				</ul>
			</td>
			<td class="record" id = "flag-etc">
				<%= link_to image_tag("flag.png"), "/words/flag/"+word.id.to_s, :class => 'tooltip flag', :title => "Report Abuse" %>
			<br>
			<%= link_to image_tag("twitter-bird-dark-bgs-small.png"), "http://twitter.com/home?status= Corporate dictionary: #{word.term} http://fathomless-meadow-2743.herokuapp.com/words/"+word.id.to_s, :class => "tooltip", :title => "Share on Twitter" %>
			</td>
	</tr>
	<% end %>
	
</table>

